---
import { NavModule, NavOption } from "../../types/nav";

interface Props {
  module: NavModule;
  options?: NavOption[];
}

const { module, options = [] } = Astro.props as Props;
const hasChildren = options.length > 0;

const icons = import.meta.glob("/src/images/icons/*.svg", {
  query: "?raw",
  import: "default",
  eager: true,
}) as Record<string, string>;

function getIcon(icon: string) {
  if (icon.startsWith("/src/")) return icons[icon] ?? "";
  return icons[`/src/images/icons/${icon}.svg`] ?? "";
}

const iconSvg = getIcon(module.icon);
const chevronIcon = getIcon("chevron-down");
---

{
  hasChildren ? (
    <details
      class="menu-item-container group"
      aria-label={`${module.name} menu`}
    >
      <summary class="menu-item group menu-item-inactive list-none cursor-pointer select-none">
        <span class=" text-gray-800 bg-color-gray-100 dark:text-gray-100 flex items-center justify-center rounded-md mr-1">
          <span class="w-5 h-5 inline-block">
            <Fragment set:html={iconSvg} />
          </span>
        </span>

        <span class="menu-item-text" data-i18n={`modules.${module.code}`}>
          {module.name}
        </span>

        <span class="menu-item-arrow stroke-current w-5 h-5 inline-block">
          <Fragment set:html={chevronIcon} />
        </span>
      </summary>

      <div class="overflow-hidden transform translate">
        <ul class="flex flex-col gap-1 mt-2 menu-dropdown pl-3">
          {options.map((option) => (
            <li>
              <a
                href={option.path || "#"}
                class="menu-dropdown-item group menu-dropdown-item-inactive"
              >
                <span class="w-1 h-1 inline-block mr-2 bg-current rounded-full"></span>
                <span data-i18n={`menu_options.${option.code.toLowerCase()}`}>
                  {option.name}
                </span>
              </a>
            </li>
          ))}
        </ul>
      </div>
    </details>
  ) : (
    <a href={module.path || "#"} class="menu-item group menu-item-inactive">
      <span class="w-5 h-5 inline-block mr-1">
        <Fragment set:html={iconSvg} />
      </span>
      <span class="menu-item-text" data-i18n={`modules.${module.code}`}>
        {module.name}
      </span>
    </a>
  )
}
