---
import ChevronRight from "@/images/icons/chevron-right.svg?raw";

export interface Props {
  moduleName?: string;
  pageName?: string;
  pageTitle?: string;
  homeLink?: string;
  moduleNameKey?: string;
  masterKey?: string;
  pageNameKey?: string;
  pageTitleKey?: string;
}

const {
  moduleName = "Module",
  pageName = "Option",
  pageTitle = "Option Title",
  homeLink = "/",
  moduleNameKey,
  masterKey,
  pageNameKey,
  pageTitleKey,
} = Astro.props as Props;
---

<div class="mb-6 flex flex-wrap items-center justify-between gap-3">
  <h2 class="text-xl font-semibold text-gray-800 dark:text-white/90" data-i18n={pageTitleKey || pageNameKey}>
    {pageTitleKey || pageNameKey || pageTitle}
  </h2>

  <nav>
    <ol class="flex items-center gap-1.5">
      <li>
        <a
          class="inline-flex items-center gap-1.5 text-sm text-gray-500 dark:text-gray-400"
          href={homeLink}
        >
          <span data-i18n="breadcrumb.home">breadcrumb.home</span>
          <span class="h-4 w-4 stroke-current">
            <Fragment set:html={ChevronRight} />
          </span>
        </a>
      </li>
      <li>
        <a
          class="inline-flex items-center gap-1.5 text-sm text-gray-500 dark:text-gray-400"
        >
          <span data-i18n={moduleNameKey}>{moduleNameKey || moduleName}</span>
          <span class="h-4 w-4 stroke-current">
            <Fragment set:html={ChevronRight} />
          </span>
        </a>
      </li>
      {masterKey && (
        <li>
          <a
            class="inline-flex items-center gap-1.5 text-sm text-gray-500 dark:text-gray-400"
          >
            <span data-i18n={masterKey}>{masterKey}</span>
            <span class="h-4 w-4 stroke-current">
              <Fragment set:html={ChevronRight} />
            </span>
          </a>
        </li>
      )}
      <li class="text-sm text-gray-800 dark:text-white/90">
        <span data-i18n={pageNameKey}>{pageNameKey || pageName}</span>
      </li>
    </ol>
  </nav>
</div>
