---
import "../styles/globals.css";
import Header from "../components/Header.astro";
import SideBar, { type NavModule, type NavOption } from "../components/SideBar.astro";

interface Props {
  title?: string;
  navModules?: NavModule[];
  navOptions?: NavOption[];
}

const { title = "SynapxIA", navModules=[], navOptions=[] } = Astro.props as Props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
  </head>
  <body class="bg-slate-50 text-slate-900 dark:bg-gray-950 dark:text-white">
    <div class="min-h-screen flex">
      <SideBar modules={navModules} options={navOptions} brandTitle={title} />

      <div class="flex-1 flex flex-col min-h-screen">
        <Header title={title} subtitle="Dashboard" />

        <main>
          <div class="mx-auto max-w-(--breakpoint-2xl) md:p-6">
            <slot />
          </div>
        </main>
      </div>
    </div>
  </body>
</html>

<script src="https://cdn.jsdelivr.net/npm/simple-datatables@9.0.3"></script>
