---
import editSvg from "@/images/icons/edit.svg?raw";
import deleteSvg from "@/images/icons/delete.svg?raw";
import listSvg from "@/images/icons/list-bullet.svg?raw";
import downloadSvg from "@/images/icons/arrow-down-tray.svg?raw";
import leftSvg from "@/images/icons/chevron-left.svg?raw";
import rightSvg from "@/images/icons/chevron-right.svg?raw";
import infoSvg from "@/images/icons/information-circle.svg?raw";
import csvSvg from "@/images/icons/file-csv.svg?raw";
import jsonSvg from "@/images/icons/file-json.svg?raw";
import txtSvg from "@/images/icons/file-txt.svg?raw";
import sqlSvg from "@/images/icons/file-sql.svg?raw";

const {
  columns = [],
  data = [],
  tableId = "datatable",
  i18Item = "i18item",
  showAddButton = true,
  columnFilter = null,
  masterPage = null,
  detailPage = null,
  mdItem = null,
} = Astro.props;
---

<div class="space-y-2">
  <!-- 🔹 TOP BAR -->
  <div
    class="flex flex-col gap-4 sm:flex-row sm:items-center sm:justify-between"
  >
    <!-- Left -->
    <div class="flex items-center gap-3">
      {masterPage && (
        <a
          href={masterPage}
          class="inline-flex items-center gap-2 rounded-lg border px-3 py-2 text-sm hover:bg-gray-100"
          data-i18n-title={`${mdItem}_modal.many_title`}
          title=""
        >
          <span class="w-5 h-5 inline-block">
          <Fragment set:html={leftSvg} />
        </span>
        </a>
      )}
      {
        showAddButton && (
          <button
            type="button"
            class="inline-flex items-center gap-2 rounded-lg bg-indigo-600 px-4 py-1 text-sm font-semibold text-white hover:bg-indigo-700"
            data-modal-open={`${i18Item}-create-modal`}
            data-filter-key={columnFilter}
            data-i18n-title={`${i18Item}_modal.one_title`}
            title=""
          >
            <span class="text-lg">+</span>
            <span data-i18n={`${i18Item}_modal.one_title`}>
              {`${i18Item}_modal.one_title`}
            </span>
          </button>
        )
      }
      {
        columnFilter && data.length > 0 && (
          <div class="relative">
            <select
              id={`${tableId}-filter`}
              data-column-key={columnFilter}
              class="w-100 rounded-lg border border-gray-300 bg-white px-3 py-2 text-sm
                  focus:border-indigo-500 focus:ring-indigo-500"
            >
              <option value="">All {columnFilter}s</option>
            </select>
          </div>
        )
      }
    </div>

    <!-- Right: Search & Export -->
    {data.length > 0 && (
    <div class="flex items-center gap-3 relative">
      <input
        id={`${tableId}-search`}
        type="search"
        placeholder="data_table.search"
        data-i18n-placeholder="data_table.search"
        class="w-56 rounded-lg border border-gray-300 bg-white px-3 py-2 text-sm
               focus:border-indigo-500 focus:ring-indigo-500"
      />

      <button
        id={`${tableId}-export-btn`}
        type="button"
        class="inline-flex items-center gap-2 rounded-lg border px-3 py-2 text-sm hover:bg-gray-100"
      >
        <span class="w-5 h-5 inline-block">
          <Fragment set:html={downloadSvg} />
        </span>
        <span data-i18n="data_table.export">data_table.export</span>
      </button>

      <div
        id={`${tableId}-export-menu`}
        class="absolute right-0 top-full z-20 mt-2 hidden w-44 rounded-lg bg-white shadow-lg ring-1 ring-gray-200"
      >
        <ul class="py-1 text-sm">
          <li>
            <button
              data-export="csv"
              class="flex items-center gap-3 w-full px-4 py-2 hover:bg-gray-100"
            >
              <p data-i18n="data_table.export_csv">data_table.export_csv</p>
              <span class="w-4 h-4 inline-block flex-shrink-0">
                <Fragment set:html={csvSvg} />
              </span>
            </button>
          </li>
          <li>
            <button
              data-export="json"
              class="flex items-center gap-3 w-full px-4 py-2 hover:bg-gray-100"
              >
              <p data-i18n="data_table.export_json">data_table.export_json</p>
              <span class="w-4 h-4 inline-block flex-shrink-0">
                <Fragment set:html={jsonSvg} />
              </span>
            </button>
          </li>
          <li>
            <button
              data-export="txt"
              class="flex items-center gap-3 w-full px-4 py-2 hover:bg-gray-100"
              >
              <p data-i18n="data_table.export_txt">data_table.export_txt</p>
              <span class="w-4 h-4 inline-block flex-shrink-0">
                <Fragment set:html={txtSvg} />
              </span>
            </button>
          </li>
          <li>
            <button
              data-export="sql"
              class="flex items-center gap-3 w-full px-4 py-2 hover:bg-gray-100"
            >
              <p data-i18n="data_table.export_sql">data_table.export_sql</p>
              <span class="w-4 h-4 inline-block flex-shrink-0">
                <Fragment set:html={sqlSvg} />
              </span>
            </button>
          </li>
        </ul>
      </div>
    </div>
    )}
  </div>

  {data.length > 0 && (
  <!-- 🔹 TABLE -->
  <div class="overflow-x-auto">
    <table
      id={tableId}
      class="w-full text-sm text-left text-gray-600 datatable-dense"
    >
      <thead
        class="bg-gray-200 text-xs uppercase text-gray-700 border-b border-black"
      >
        <tr>
          {
            columns.map((col) => (
              <th class="px-2 py-1 font-semibold tracking-wide" data-i18n={col.label} data-column-key={col.key}>{col.label}</th>
            ))
          }
          <th class="px-4 py-4 text-right" data-i18n="data_table.actions">
            data_table.actions
          </th>
        </tr>
      </thead>
      <tbody
        class="[&>tr:nth-child(even)]:bg-gray-100 [&>tr:hover]:bg-gray-200"
      >
        {
          data.map((row) => (
            <tr class="border-b">
              {columns.map((col) => (
                <td class="px-2 py-1">{row[col.key]}</td>
              ))}
              <td class="actions-cell px-2 py-1 text-right space-x-0">
                <div class="actions-wrapper">
                  {detailPage && (
                    <a
                      href={detailPage + "?" + i18Item + "=" + row.id}
                      class="detail-btn action-btn"
                      data-i18n-title={`${mdItem}_modal.many_title`}
                      title=""
                    >
                      <span class="w-5 h-5 inline-block">
                        <Fragment set:html={listSvg} />
                      </span>
                    </a>
                    <span class="dot">•</span>
                  )}
                  <button
                    class="p-1 hover:bg-blue-100 rounded edit-btn"
                    data-id={row.id}
                    data-action="edit"
                    data-modal-open={`${i18Item}-edit-modal`}
                    data-i18n-title={`${i18Item}_modal.edit`}
                    title=""
                  >
                    <span class="w-5 h-5 inline-block">
                      <Fragment set:html={editSvg} />
                    </span>
                  </button>
                  <button
                    class="p-1 hover:bg-red-100 rounded delete-btn"
                    data-id={row.id}
                    data-action="delete"
                    data-modal-open={`${i18Item}-delete-modal`}
                    data-i18n-title={`${i18Item}_modal.delete`}
                    title=""
                  >
                  <span class="w-5 h-5 inline-block">
                    <Fragment set:html={deleteSvg} />
                  </span>
                  </button>
                </div>
              </td>
            </tr>
          ))
        }
      </tbody>
    </table>
  </div>

  <!-- 🔹 PAGINATION -->
  <div
    id={`${tableId}-pagination`}
    class="flex flex-col sm:flex-row sm:items-center sm:justify-between gap-4"
  >
    <!-- Info -->
    <div id={`${tableId}-pagination-info`} class="text-sm text-gray-600"></div>
    <select
      id={`${tableId}-per-page`}
      class="ml-3 rounded-lg border px-2 py-2 text-sm"
    >
      <option value="5">5</option>
      <option value="10" selected>10</option>
      <option value="25">25</option>
      <option value="50">50</option>
    </select>

    <!-- Controls -->
    <div class="flex items-center gap-2">
      <button
        id={`${tableId}-prev`}
        class="px-1 py-1 text-sm border rounded hover:bg-gray-100"
      >
        <span class="w-5 h-5 inline-block">
          <Fragment set:html={leftSvg} />
        </span>
      </button>
      <div id={`${tableId}-pages`} class="flex items-center gap-1"></div>
      <button
        id={`${tableId}-next`}
        class="px-1 py-1 text-sm border rounded hover:bg-gray-100"
      >
        <span class="w-5 h-5 inline-block">
          <Fragment set:html={rightSvg} />
        </span>
      </button>
    </div>
  </div>
  )}

  {data.length == 0 && (
  <div class="rounded-xl no-border p-4">
    <div class="flex items-center gap-3">
      <div class="-mt-0.5 text-blue-light-500">
        <span class="h-6 w-6 text-gray-100 bg-color-gray-100 dark:bg-gray-800 flex items-center justify-center rounded-md mr-0">
          <span class="w-5 h-5 inline-block">
          <Fragment set:html={infoSvg} />
        </span>
        </span>
      </div>
      <div>
        <p class="text-sm text-gray-500 dark:text-gray-400" data-i18n={`${i18Item}_modal.empty_message`}>
            {`${i18Item}_modal.empty_message`}
          </p>
      </div>
    </div>
  </div>
  )}

</div>

<script type="module" define:vars={{ tableId, data, columns, columnFilter }}>
  import { initAdvancedTable } from "/src/components/table/advancedTable";
  initAdvancedTable(tableId, data, columns, columnFilter);
</script>
