---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Breadcrumb from "../../components/Breadcrumb.astro";
import DataTable from "../../components/DataTable.astro";
import modules from "../../data/modules.json";
import options from "../../data/options.json";

const title = "SynapxIA";
const primaryNav = modules.map(module => ({
  code: module.code,
  name: module.name,
  icon: `${module.icon}`
}));
const itemsNav = options.map(option => ({
  module: option.module,
  name: option.name,
  path: option.path
}));

const columns = [
  { key: "module", label: "Module" },
  { key: "name", label: "Name" },
  { key: "path", label: "Path" },
  { key: "order", label: "Sort Order" }
];
const data = options.map((option, index) => ({
  id: index,
  module: option.module,
  name: option.name,
  path: option.path,
  order: option.sort_order
}));
---

<BaseLayout title={title} navModules={primaryNav} navOptions={itemsNav}>
  <div class="p-4 mx-auto max-w-(--breakpoint-2xl) md:p-6">
    <!-- Breadcrumb Start -->
    <Breadcrumb moduleName="Administration" pageName="Options" pageTitle="Options List" homeLink="/" />
    <!-- Breadcrumb End -->

    <div class="space-y-5 sm:space-y-6">
        <div class="space-y-5 sm:space-y-6">
          <div class="border-t border-gray-100 dark:border-gray-800 p-0">
            <DataTable 
              columns={columns} 
              data={data} 
              tableItem="option"
              tableId="options"/>
          </div>
        </div>
    </div>
  </div>
</BaseLayout>
