---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Breadcrumb from "../../components/Breadcrumb.astro";
import Table from "../../components/Table.astro";
import modules from "../../data/modules.json";
import options from "../../data/options.json";
import roles from "../../data/roles.json";

const title = "SynapxIA";
const primaryNav = modules.map(module => ({
  code: module.code,
  name: module.name,
  icon: `${module.icon}`
}));
const itemsNav = options.map(option => ({
  module: option.module,
  name: option.name,
  path: option.path
}));
const dataRoles = roles.map(rol => ({
  code: rol.code,
  name: rol.name,
  description: rol.description
}));
---

<BaseLayout title={title} navModules={primaryNav} navOptions={itemsNav}>
  <div class="p-4 mx-auto max-w-(--breakpoint-2xl) md:p-6">
    <!-- Breadcrumb Start -->
    <Breadcrumb moduleName="Administration" pageName="Roles" pageTitle="Roles List" homeLink="/" />
    <!-- Breadcrumb End -->

    <div class="space-y-5 sm:space-y-6">
        <!-- ====== Table Start -->
        <div class="space-y-5 sm:space-y-6">
            <div class="p-5 border-t border-gray-100 dark:border-gray-800 sm:p-6">
              <!-- ====== Table Start -->
              <Table dataRoles={dataRoles} />
              <!-- ====== Table End -->
            </div>
        </div>
        <!-- ====== Table Six End -->
    </div>
  </div>
</BaseLayout>
