---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Breadcrumb from "../../components//core/Breadcrumb.astro";
import DataTable from "../../components/table/DataTable.astro";
import modules from "../../data/modules.json";
import options from "../../data/options.json";
import roles from "../../data/roles.json";

const title = "SynapxIA";
const primaryNav = modules.map(module => ({
  code: module.code,
  name: module.name,
  icon: `${module.icon}`
}));
const itemsNav = options.map(option => ({
  module: option.module,
  name: option.name,
  path: option.path
}));

const columns = [
  { key: "code", label: "Code" },
  { key: "name", label: "Name" }
];
const data = roles.map(rol => ({
  code: rol.code,
  name: rol.name,
  description: rol.description
}));
---

<BaseLayout title={title} navModules={primaryNav} navOptions={itemsNav}>
  <div class="mx-auto max-w-(--breakpoint-2xl) md:p-6">
    <!-- Breadcrumb Start -->
    <Breadcrumb moduleName="Administration" pageName="Roles" pageTitle="Roles List" homeLink="/" />
    <!-- Breadcrumb End -->

    <div class="space-y-5 sm:space-y-6">
        <div class="space-y-5 sm:space-y-6">
          <div class="border-t border-gray-100 dark:border-gray-800 p-0">
            <!-- ====== Table Start -->
            <DataTable 
              columns={columns} 
              data={data} 
              tableItem="rol"
              tableId="roles"/>
            <!-- ====== Table End -->
          </div>
        </div>
    </div>
  </div>
</BaseLayout>
